---
import ComponentsLayout from "./ComponentsLayout.astro";
---

<ComponentsLayout {...Astro.props}>
  <div class="prose prose-neutral prose-h1:text-balance pb-20 prose-invert">
    <slot />
  </div>
</ComponentsLayout>
